div(style='font-size:16px;color:#2f2936;padding:0;font-family:"Lato","Helvetica Neue",helvetica,sans-serif;width:100%;font-weight:300;margin:0;background-color:#d07866;padding: 20px;border-radius:3px;')
  div(style='padding:0;font-size:0;display:none;max-height:0;font-weight:300;line-height:0')
  table(style='border-radius:4px;font-size:16px;color:#2f2936;border-collapse:separate;border-spacing:0;max-width:700px;font-family:"Lato","Helvetica Neue",helvetica,sans-serif;border:1px solid #c7d0d4;padding:0;width:100%;font-weight:300;margin:15px auto;background-color:#fff')
    tbody
      tr(style='font-weight:300')
        td(style='padding:0;font-weight:300;margin:0;text-align:center')
          div(style='padding:23px 0;font-size:14px;font-weight:300;border-bottom:1px solid #dee7eb')
            div(style='padding:0 20px;max-width:600px;font-weight:300;margin:0 auto;text-align:left')
              center
                h1(style='font-size:38px;color:#000;letter-spacing:-1px;padding:0;font-weight:normal;margin:0;line-height:42px')
                  a(href='https://thehealthyprogram.com', style='color:#4674ca;font-weight:500;text-decoration:none', target='_blank')
                    img(src="https://thehealthyprogram.s3.amazonaws.com/site/img/small-logo.png" alt="The Healthy Program Logo")
      tr(style='font-weight:300')
        td(style='padding:0;font-weight:300;margin:0;text-align:center')
          div(style='padding:0 20px;max-width:600px;font-weight:300;margin:0 auto;text-align:left')
            div(style='padding:30px 0 20px;font-weight:300;background-color:#fff')
              h3(style='font-size:18px;font-weight:700;margin:0 0 20px') 👋 ¡Holaaa!
              p(style='font-weight:300;margin:0 0 15px;font-size:16px;line-height:24px')
                | Y listo! Bienveeeenid@ a este mes de The Healthy Program !!!!
                | ¡Muchas felicidades por estar aquí creando hábitos y muchas gracias por confiar en nosotras ! 
                | Junt@s aprenderemos muchísimo! 
              p(style='font-weight:300;margin:0 0 15px;font-size:16px;line-height:24px')
                | Gracias por ayudarnos a contestar estas preguntas que nos ayudarán a conocerte un poco y así adecuar tu programa a tu objetivo,
                | ahora revisaremos tus respuestas para que tengas acceso al material adecuado el fin de semana! ⚡️
          div(style='padding:0 20px;max-width:600px;font-weight:300;margin:0 auto;text-align:left')
            div(style='padding:35px 0;border-top:1px solid #e7ebee;font-weight:300')
              p — Maby y Claris.
