div(style='font-size:16px;color:#2f2936;padding:0;font-family:"Lato","Helvetica Neue",helvetica,sans-serif;width:100%;font-weight:300;margin:0;background-color:#d07866;padding: 20px;border-radius:3px;')
  div(style='padding:0;font-size:0;display:none;max-height:0;font-weight:300;line-height:0')
  table(style='border-radius:4px;font-size:16px;color:#2f2936;border-collapse:separate;border-spacing:0;max-width:700px;font-family:"Lato","Helvetica Neue",helvetica,sans-serif;border:1px solid #c7d0d4;padding:0;width:100%;font-weight:300;margin:15px auto;background-color:#fff')
    tbody
      tr(style='font-weight:300')
        td(style='padding:0;font-weight:300;margin:0;text-align:center')
          div(style='padding:23px 0;font-size:14px;font-weight:300;border-bottom:1px solid #dee7eb')
            div(style='padding:0 20px;max-width:600px;font-weight:300;margin:0 auto;text-align:left')
              center
                h1(style='font-size:38px;color:#000;letter-spacing:-1px;padding:0;font-weight:normal;margin:0;line-height:42px')
                  a(href='https://thehealthyprogram.com', style='color:#4674ca;font-weight:500;text-decoration:none', target='_blank')
                    img(src="https://thehealthyprogram.s3.amazonaws.com/site/img/small-logo.png" alt="The Healthy Program Logo")
      tr(style='font-weight:300')
        td(style='padding:0;font-weight:300;margin:0;text-align:center')
          div(style='padding:0 20px;max-width:600px;font-weight:300;margin:0 auto;text-align:left')
            div(style='padding:30px 0 20px;font-weight:300;background-color:#fff')
              h3(style='font-size:18px;font-weight:700;margin:0 0 20px') ¡Bienvenid@ a The Healthy Program! 🎉
              p(style='font-weight:300;margin:0 0 15px;font-size:16px;line-height:24px')
                | Estamos muy contentos porque que ya formas parte de esta bonita familia.
              p(style='font-weight:300;margin:0 0 15px;font-size:16px;line-height:24px')
                | Tu cuenta está activada pero requiere validación del pago para poder acceder al reto, para subir tu comprobante deberás ingresar a la sección de usuarios o hacer clic en el botón «Ir a The Healthy Program».
              p(style='font-weight:300;margin:0 0 15px;font-size:16px;line-height:24px')
                div(style="display:block;text-align:center;margin:50px auto;")
                  b Tu contraseña es:
                  div #{password}
                  div
                    a(href='https://thehealthyprogram.com', style='border-radius:4px;display:inline-block;color:#fff;font-size:16px;text-decoration:none;padding:8px 15px;font-weight:600;line-height:18px;background-color:#d07866;display:block;width: 200px;margin:20px auto;', target='_blank') Ir a The Healthy Program
              p(style='font-weight:300;margin: 35px 0;font-size:16px;line-height:24px')
               | Si tienes algún problema con la activación de tu cuenta escríbenos a clarissaprguez@gmail.com o por Whatsapp al número #[a(href="https://api.whatsapp.com/send?phone=+526683966444&text=Hola Claris y Maby") +526683966444] y con gusto te atenderemos.
          div(style='padding:0 20px;max-width:600px;font-weight:300;margin:0 auto;text-align:left')
            div(style='padding:35px 0;border-top:1px solid #e7ebee;font-weight:300')
              p — Maby y Claris.
